/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.title{
    -fx-text-fill : black;
}

.hbox{
    -fx-background-color: black;
     -fx-spacing: 100;
}

line { 
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.button{
    -fx-background-color :  #9fbdc7;
    -fx-cursor: hand;   
    /*-fx-border-style: groove*/
}


.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1 1 2 1; /* its make really one-pixel-border */
    -fx-border-color: gray;
}